@keyframes progressSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: all 400ms;
  z-index: 9999;
  &.progressBarOnTop {
    height: 100%;
  }
  &.progressBarHide {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
  }
}

.progressBarProgress {
  height: 2px;
  background: #29d;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  transition: all 200ms ease;
}

.progressBarSpinner {
  display: block;
  position: fixed;
  top: 15px;
}

.progressBarSpinnerLeft {
  left: 15px;
  right: auto;
}

.progressBarSpinnerRight {
  left: auto;
  right: 15px;
}

.progressBarSpinnerIcon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  animation: progressSpinner 400ms linear infinite;
}
